body{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}


#canvas{
    background-color:lightgray;
    
}
/*
#canvas .fortezza{
    margin: -4.5rem;
    border: 3px burlywood;
    border-radius: 1rem;
    background-color: whitesmoke;
}*/
.nemici{
    color: red;
    width: 1.3rem;
    height: 1.3rem;
}

