body{
    background-color: green;
}
#canvas{
    background-color: green;
}
#canvas .fortezza{
    margin: 4.5rem;
    border: 3px solid black;
    border-radius: 1rem;
    background-color: black;
}
.nemici{
    color: red;
    width: 1.3rem;
    height: 1.3rem;
}
